<!DOCTYPE html>

<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Control de Paños</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="bg-slate-100 min-h-screen flex flex-col items-center justify-center">

  <!-- CONTENEDOR -->

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 w-full max-w-3xl px-6">


<!-- BOTON ENTREGAR -->
<div onclick="enviar('tomar')" 
     class="cursor-pointer flex flex-col items-center justify-center h-64 rounded-xl bg-green-600 text-white shadow-xl transition transform hover:scale-105 active:scale-95">

  <h2 class="text-2xl font-bold mb-2">Tomar Paño</h2>
  <p class="opacity-80">Registrar nuevo retiro</p>
</div>

<!-- BOTON RECIBIR -->
<div onclick="enviar('devolver')" 
     class="cursor-pointer flex flex-col items-center justify-center h-64 rounded-xl bg-white text-black shadow-xl transition transform hover:scale-105 active:scale-95">

  <h2 class="text-2xl font-bold mb-2">Devolver Paño</h2>
  <p class="opacity-60">Confirmar devolución</p>
</div>


  </div>

  <!-- TOAST -->

  <div id="toast" 
       class="fixed bottom-6 left-1/2 transform -translate-x-1/2 px-6 py-3 rounded-lg shadow-lg text-white text-sm opacity-0 transition-all duration-300">
  </div>

  <script>

    function mostrarToast(mensaje, tipo="ok") {
      const toast = document.getElementById("toast");

      toast.innerText = mensaje;

      // estilos según tipo
      if (tipo === "ok") {
        toast.className = "fixed bottom-6 left-1/2 transform -translate-x-1/2 px-6 py-3 rounded-lg shadow-lg text-white text-sm bg-green-600 opacity-100";
      } else {
        toast.className = "fixed bottom-6 left-1/2 transform -translate-x-1/2 px-6 py-3 rounded-lg shadow-lg text-white text-sm bg-red-600 opacity-100";
      }

      setTimeout(() => {
        toast.classList.add("opacity-0");
      }, 2000);
    }

    function enviar(tipo) {
      fetch("/accion", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ tipo: tipo })
      })
      .then(res => res.json())
      .then(data => {
        mostrarToast("✅ Registrado correctamente");
      })
      .catch(err => {
        mostrarToast("❌ Error al registrar", "error");
        console.error(err);
      });
    }

  </script>

</body>
</html>
